<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
  </head>
  <body>
    <h1>Upload Files</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
      <label>Profile Image</label>
      <input type="file" name="profileImage" />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
